.leftalign {
    text-align: left;
}

.body {
    margin-top: 5%;
    display: flex;
    background-color: #422040;
}

.tableDiv {
    margin: auto;
}

.table table, tr, td {
    border: 1px solid #CCDBB1;
}

.table {
    border-collapse: collapse;
    color: #E5CA44;

}

.tableRow1 {
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.tableRow2 {
    height: 2rem;
    width: 10rem;
    font-size: 1.5rem;
}

td {
    padding-left: .5rem;
    padding-right: 4rem;
}

h1 {
    color: #E5A244;
    text-align: center;
}

